/photobox/bin
/photobox/gen
/photobox/.settings
/photobox/local.properties
/photobox-test/bin
/photobox-test/gen
/photobox-test/.settings
/photobox-test/local.properties
/.metadata
/tags
/photobox-test/*.log
/lastpid.txt
